 #profile-pic {
     border-radius: 50%;
     width: 150px;
     height: 150px;
     display: block;
     margin-left: auto;
     margin-right: auto;
 }
 
 .container-fluid {
     border: 1px solid black;
     text-align: center;
 }