 #profile-pic {
     border-radius: 50%;
     width: 150px;
     height: 150px;
     display: block;
     margin-left: auto;
     margin-right: auto;
 }
 
 .btn {
     margin-left: 10px;
     background-color: #fff;
     color: black;
     border: 1px solid black;
     border-radius: 8px;
     transition: transform .2s;
 }
 
 .btn:hover {
     background-color: black;
     color: #fff;
     transform: scale(1.1);
 }
 
 .container-fluid {
     border: 1px solid black;
     text-align: center;
 }
 
 #info {
     border: 1px solid black;
     text-align: center;
     margin-top: 50px;
     padding: 20px;
 }
 
 #layout {
     margin-top: 30px;
     text-align: center;
 }
 
 .col {
     border: 1px solid black;
     padding: 20px;
     margin-left: 25px;
 }
 
 #adjust {
     margin-left: 5px;
 }
 
 .w-100 {
     margin: 10px;
 }